*
!.gitignore
!bi_dao.jpg
!bi_dao2.jpg
!cai_be.jpg
!cai_be2.jpg
!cai_cuc.jpg
!cai_cuc2.jpg
!cai_ngong.jpg
!cai_ngot.jpg
!cai_ngot2.jpg
!cai_thia.jpg
!cai_thia2.jpg
!cu_cai.jpg
!cu_cai2.jpg
!cu_rieng.jpg
!cu_rieng2.jpg
!diep_ca.jpg
!hanh.jpg
!hanh2.jpg
!mong_toi.jpg
!mong_toi2.jpg
!rau_kinh_gioi.jpg
!rau_kinh_gioi2.jpg
!rau_lang.jpg
!rau_lang2.jpg
!rau_muong.jpg
!rau_muong2.jpg
!rau_ngot.jpg
!rau_ngot2.jpg
!sa.jpg
!sa2.jpg
!su_hao.jpg
!su_hao2.jpg
!thi_la.jpg
!thi_la2.jpg
!tia_to.jpg
!tia_to2.jpg
!xa_lach.jpg
!xa_lach2.jpg
